@font-face { font-family:'Rajdhani'; font-weight:400; src:url('Rajdhani-Regular.ttf'); font-display:block; }
@font-face { font-family:'Rajdhani'; font-weight:700; src:url('Rajdhani-Bold.ttf'); font-display:block; }
